@charset "utf-8";

       /* 콘텐츠 영역 서식 */
        .content {
            clear: both; 
            z-index: 3;
        }

        .content:before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: firebrick;
        }


        
        .breadcrumb {
            height: 50px;
            line-height: 42px;
            color: green;
        }

        .breadcrumb a {
            color: purple;
        }

        .con {
            clear: both;
            width: 100%;
        }

        .sub_tit1 {
            line-height: 3.6;
            text-align: center;
        }

        .lst {
            clear: both;
            width: 990px;
            margin: 10px auto;
        }

        .lst li {
            float: left;
            margin: 15px;
        }